@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #eee;
}


.sidebar {
    width: 17rem;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    padding: 1rem;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar_top {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.sidebar_logo {
    width: 3.4rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.sidebar_list {
    list-style: none;
}

.sidebar_link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: pink;
    margin-bottom: 1rem;
    border-radius: .8rem;

}

.sidebar_icon {
    font-size: 1.2rem;
    display: inline-block;

}

.sidebar_name {
    margin-left: 0.5rem;
}

.sidebar_logo-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn {
    position: absolute;
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0rem;
    font-size: 1.1rem;
    transform: translateX(50%);
    /* top: 3rem; */
}


[data-collapse="true"] {
    width: 5.3rem;
}


[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
    display: none;
}


[data-collapse="false"] .sidebar_logo {
    align-items: center;
    text-align: center;
    justify-content: center;
}