/* Remove blue box outline for Material UI TextField */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
    box-shadow: none !important;
}

body {
    background-color: red;
}