.deletedPrice {
    position: relative;
    width: 2rem;
}


.deletedPrice::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #dd0031 !important;
    border-color: inherit;
    width: 2rem;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}